.title {
    height: 310px;
    background-image: url(../images/concept/234729.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 1px 1px 10px #530909;
}

body {
    font-family: sans-serif;
    font-size: 16pt;
    line-height: 1;
    background-color: #6b0f0f;
}

.title h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 64pt;
    font-weight: bold;
}

.title p{
    font-size: 14px;
    margin-top: 15px;
}

.feature{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1500px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.feature-text{
    max-width: 500px;
}

.feature2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 100px;
    width: 2000px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.feature-text2{
    max-width: 800px;
    text-align: center;
}

.reverse{
    flex-direction: row-reverse;
}

.reverse .feature-text{
    margin-left: 40px;
    margin-right: 0;
}

.feature-text h2{
    font-size:  40px;
    font-weight: bold;
    line-height: 30px;
    padding-top: 40px;
}

.feature-text h2::after{
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #000000;
    margin-top: 40px;
}

.feature-text p {
    font-size: 20px;
    line-height: 28px;
    margin-top: 25px;
    color: #ffffff8a;
}

.feature-text2 h2{
    font-family: 'Sawarabi Mincho',暗黒ゾン字;
    font-size:  40px;
    font-weight: bold;
    line-height: 30px;
    padding-top: 40px;
}

.feature-text2 h2::after{
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #000000;
    margin-top: 20px;
    padding: 5px;
}

.footer{
    margin-top: 100px;
}

